<%= form_for(@article) do |f| %>
  <div class="container form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="container form-group">
    <%= f.label :content %>
    <%= f.text_field :content, class: 'alert alert-warning form-control' %>
  </div>

  <div class="container">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>

